@import "nib"
azul-ralero = #203955 
gris-texto = #999999
gris-texto-obscuro = #666666
rojo-ralero = #e41222
gris-clarito = #dadada

@import "parts/header"
@import "parts/footer"
@import "parts/index"
@import "parts/productos"
@import "parts/producto"
@import "parts/checkbox"
@import "parts/flechas"



*
	padding 0
	margin 0

html, body 
	font-family 'Open Sans', sans-serif
	font-size 14px
.hidden
	display none !important