/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
front-end-source/
public/article_pictures/
public/slider_pictures/
public/img/
casaralero.sql
*.zip
